# Specify filepatterns you want git to ignore.
/settings.json
/lolzautocontest.log
/lolzautocontest-errors.log
/nohup.out
/venv/
/.idea/
/__pycache__/

# файлы самого лолза. для собственна всякой хуеты
/lolz files/


# куча прототипных файлов. мне лень чистить
/backups/