# Specify filepatterns you want git to ignore.
/settings.json
/venv/
/.idea/
/__pycache__/

# файлы самого лолза. для собственна всякой хуеты
/lolz files/


# куча прототипных файлов. мне лень чистить
/main.py
/main_WORKING_BK.py
/proxyless.py
/tor_based_bk.py
/tor_based_bk_lastworking.py
