beautifulsoup4
urllib3>=1.26.0 # for https proxies. you don't want to know how i figured that one out
pysocks
colorama
traceback_with_variables
coloredlogs
verboselogs
pycryptodome
socksio # for httpx socks
httpx>=0.22.0 # if i'll see an another person with a missing feature from this library, i swear to god, i'll do something bad to him
h2>=3.2.0 # https://stackoverflow.com/a/70338878