eventlet
beautifulsoup4
requests
urllib3>=1.26.0 # for https proxies. you don't want to know how i figured that one out
pysocks
colorama
Pillow-SIMD
traceback_with_variables
coloredlogs
verboselogs
numpy
mmh3