wheel # might help to install mmh3 without microsoft c++ build tools, unconfirmed
eventlet
beautifulsoup4
requests
urllib3>=1.26.0 # for https proxies. you don't want to know how i figured that one out
pysocks
colorama
Pillow # you can change this to Pillow-SIMD if you want to squeze out a bit of perfomance.
traceback_with_variables
coloredlogs
verboselogs
numpy
mmh3
pycryptodome